<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<title>{% if post.title %}{{ post.title }} | {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<link rel="icon" href="{{ '/favicon.svg' | relative_url }}" type="image/svg+xml">

<link rel="stylesheet" href="{{ '/assets/reveal/dist/reset.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/reveal/dist/reveal.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/reveal/dist/theme/moon.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/reveal/dist/plugin/highlight/monokai.css' | relative_url }}">
<!-- reveal.css includes the print and PDF styles. -->
